@page
@model SacramentMeetingPlanner.Pages.MeetingPlans.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="print-form">Details</h1>

<div>
    <h4>Sacrament Meeting Plan</h4>
    <hr />
    <div class="row">
        <div class="col-sm-8">
            <dl class="row">
                <p class="col-sm-12 text-center">
                    <strong>The Church of Jesus Christ of Latter-Day Saints</strong>
                    <br /><em>Maddison First Ward</em>
                    <br /><strong>Date: @Html.DisplayFor(model => model.MeetingPlan.MeetingDate)</strong>
                </p>
                <dt class="col-sm-3">
                    Presiding
                </dt>
                <dd class="col-sm-9">
                    Bishop Melvin Kent
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.MeetingPlan.ConductingLeader)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.MeetingPlan.ConductingLeader)
                </dd>
                <p class="col-sm-12 mt-2">
                    <strong><em>Announcements (Important information for the ward members</em></strong>
                </p>
                <dt class="col-sm-3">
                    Opening Hymn
                </dt>
                <dd class="col-sm-9">
                    @Model.MeetingPlan.GetOpeningHymn()
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.MeetingPlan.OpeningPrayer)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.MeetingPlan.OpeningPrayer)
                </dd>
                <p class="col-sm-12 mt-2">
                    <strong><em>Ward/Stake Business</em></strong>
                </p>
                <dt class="col-sm-3">
                    Sacrament Hymn
                </dt>
                <dd class="col-sm-9">
                    @Model.MeetingPlan.GetSacramentHymn()
                </dd>
                <p class="col-sm-12 mt-3">
                    <strong><em>Administration of the Sacrament by the Priesthood Brethren</em></strong>
                </p>
                @if (Model.MeetingPlan.GetIntermediategHymn() != null)
                {
                    <dt class="col-sm-3">
                        Intermediate Hymn
                    </dt>
                    <dd class="col-sm-9">
                        @Model.MeetingPlan.GetIntermediategHymn()
                    </dd>
                }
                @{ int counter = 0;}
                @foreach (var meetingSpeaker in Model.Speakers)
                {
                    <dt class="col-sm-3">
                        Speaker @(++counter)
                    </dt>
                    <dd class="col-sm-9">
                        @meetingSpeaker.MeetingSpeakerName (@meetingSpeaker.MeetingSpeakerTopic)
                    </dd>
                }
                <dt class="col-sm-3">
                    Closing Hymn
                </dt>
                <dd class="col-sm-9">
                    @Model.MeetingPlan.GetClosingHymn()
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.MeetingPlan.ClosingPrayer)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.MeetingPlan.ClosingPrayer)
                </dd>
            </dl>
        </div>
        <div class="col-sm-4">
            <img id="img1" alt="Temple" src="@Url.Content("~/images/temple.jpg")" />
        </div>
    </div>
</div>
<div class="print-form">
   <button type="button" class="btn btn-primary" onclick="window.print()">Print Meeting Plan</button> |
   <a asp-page="./Edit" asp-route-id="@Model.MeetingPlan.MeetingPlanID">Edit</a> |
   <a asp-page="./Index">Back to List</a>
</div>
