@page
@model SacramentMeetingPlanner.Pages.MeetingPlans.IndexModel

@{
    ViewData["Title"] = "Programs";
}

<h1>Programs</h1>

<p>
    <a asp-page="Create" class="btn btn-success" >Create New</a>
</p>

<form>
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label class="sr-only bg-dark text-white" for="ConductingLeader">Conducting Leader</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text  bg-dark text-white">Conducting Leader</div>
                </div>
                <input type="text" class="form-control" id="ConductingLeader" placeholder="Conducting Leader" asp-for="SearchByConductingLeader" />
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn  btn-success mb-2">Filter</button> |
            <a asp-page="./Index">Back to full List</a>
        </div>
    </div>
</form>

<table class="table">
    <thead class="bg-primary">
        <tr>
            <th>
                <a asp-page="./Index" asp-route-SortMeetingPlan="@Model.SortByMeetingDate">
                    @Html.DisplayNameFor(model => model.MeetingPlan[0].MeetingDate)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-SortMeetingPlan="@Model.SortByConductingLeader">
                    @Html.DisplayNameFor(model => model.MeetingPlan[0].ConductingLeader)
                </a>
            </th>
            <th class="text-light">
                Opening Hymn
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.MeetingPlan[0].OpeningPrayer)
            </th>
            <th class="text-light">
                Sacrament Hymn
            </th>
            <th class="text-light">
                Intermediate Hymn
            </th>
            <th class="text-light">
                Closing Hymn
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.MeetingPlan[0].ClosingPrayer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MeetingPlan)
        {
            string rowSelected = "";
            if (item.MeetingPlanID == Model.MeetingPlanID)
            {
                rowSelected = "success";
            }
            <tr class="@rowSelected">
                <td>
                    @Html.DisplayFor(modelItem => item.MeetingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConductingLeader)
                </td>
                <td>
                    @item.GetOpeningHymn()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpeningPrayer)
                </td>
                <td>
                    @item.GetSacramentHymn()
                </td>
                <td>
                    @item.GetIntermediategHymn()
                </td>
                <td>
                    @item.GetClosingHymn()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClosingPrayer)
                </td>
                <td>
                    <a asp-page="./Index" class="btn btn-info" style="margin-bottom: 5px" asp-route-id="@item.MeetingPlanID">Speakers</a> <br />
                    <a asp-page="./Edit" class="btn btn-info" style="margin-bottom: 5px" asp-route-id="@item.MeetingPlanID">Edit</a> <br />
                    <a asp-page="./Details" class="btn btn-info" style="margin-bottom: 5px" asp-route-id="@item.MeetingPlanID">Details</a> <br />
                    <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.MeetingPlanID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.MeetingSpeakers != null)
{
    <h3>Meeting Speakers</h3>
    <a asp-page="../MeetingSpeakers/Create" class="btn  btn-success" asp-route-MeetingPlanID="@Model.MeetingPlanID">Add New Speaker</a>
    <br />
    <br />
    <table class="table">
        <tr class="bg-primary">
            <th class="text-light">Speaker Name</th>
            <th class="text-light">Speaker Topic</th>
            <th></th>
        </tr>
        @foreach (var speaker in Model.MeetingSpeakers)
        {
            <tr>
                <td>
                    @speaker.MeetingSpeakerName
                </td>
                <td>
                    @speaker.MeetingSpeakerTopic
                </td>
                <td>
                    <a asp-page="../MeetingSpeakers/Edit" class="btn btn-info" style="margin-right: 5px" asp-route-id="@speaker.MeetingSpeakerID" asp-route-MeetingPlanID="@Model.MeetingPlanID">Edit</a>
                    <a asp-page="../MeetingSpeakers/Details" class="btn btn-info" style="margin-right: 5px" asp-route-id="@speaker.MeetingSpeakerID">Details</a>
                    <a asp-page="../MeetingSpeakers/Delete" class="btn btn-danger" asp-route-id="@speaker.MeetingSpeakerID">Delete</a>
                </td>
            </tr>
        }
    </table>

}

