@page
@model SacramentMeetingPlanner.Pages.SacramentPrograms.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SacramentProgram</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.MeetingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.MeetingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.ConductingLeader)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.ConductingLeader)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.OpeningSong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.OpeningSong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.SacramentHymn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.SacramentHymn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.ClosingSong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.ClosingSong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.OptionalSong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.OptionalSong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.OpeningPrayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.OpeningPrayer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.ClosingPrayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.ClosingPrayer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.Speakers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.Speakers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.SpeakerSubjects)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.SpeakerSubjects)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="SacramentProgram.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
