@page
@model SacramentMeetingPlanner.Pages.SacramentPrograms.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SacramentProgram</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.DateOfMeeting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.DateOfMeeting)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.ConductingLeader)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.ConductingLeader)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.OpeningSong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.OpeningSong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.SacramentHymn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.SacramentHymn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.ClosingSong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.ClosingSong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentProgram.IntermediateSong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentProgram.IntermediateSong)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SacramentProgram.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
